.field {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

.field-disabled {
  opacity: 0.7;
}

.field-content {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.field-content-empty {
  color: rgba(0, 0, 0, 0.5);
}

.field-clear-icon {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M18 6L6 18M6 6l12 12'/%3E%3C/svg%3E");
  mask: var(--un-icon) no-repeat;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: gray;
  width: 1em;
  height: 1em;
}
